# ignorer l'output du build
dist/
.output/

# dépendances
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environnement
.env
.env.production


# macOS
.DS_Store

# ignorer dossier .astro 
.astro

# Autres
.vscode

