---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Search from "@components/Search";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";

// Retrieve all articles
const posts = await getCollection("blog", ({ data }) => !data.draft);

// List of items to search in
const searchList = posts.map(({ data }) => ({
  title: data.title,
  description: data.description,
  data,
}));

let tags = getUniqueTags(posts);
---

<Layout title={`Recherche | ${SITE.title}`}>
  <Header activeNav="recherche" />
  <Main pageTitle="Recherche">
    <h2>Par étiquette</h2>
    {tags.map(tag => <Tag name={tag} size="lg" />)}
    <br> <br>
    <h2>Par mots-clés</h2>
    <Search client:load searchList={searchList} />



  </Main>
  

  <Footer />
</Layout>
